<section class="gallery" id="gallery">
  <div class="container">
    <div class="section-head anim-on-scroll">
      <h2 class="section-head__title">@@gallery_title</h2>
      <p class="section-head__text">@@gallery_text</p>
    </div>
    <div class="gallery__slider anim-on-scroll">
      <div class="swiper gallery-swiper">
        <div class="swiper-wrapper">
          @@for (var i = 0; i < gallery.length; i++) {
          <div class="swiper-slide gallery__item img-wrap">
            <img src="`+gallery[i].image+`" alt="`+gallery[i].alt+`" width="600" height="400" loading="lazy">
          </div>
          }
        </div>
      </div>
      <div class="swiper-button-prev gallery-prev"></div>
      <div class="swiper-button-next gallery-next"></div>
    </div>
  </div>
</section>
