<section class="hero" id="hero">
  <div class="hero__bg" style="background-image: url('@@hero_image')"></div>
  <div class="hero__overlay"></div>
  <div class="container">
    <div class="hero__content">
      <div class="hero__text-block">
        <h1 class="hero__title anim-up">@@hero_title</h1>
        <p class="hero__text anim-up anim-d1">
          @@hero_text
        </p>
      </div>
      <div class="hero__owner-photo img-wrap anim-up anim-d2">
        <img src="./img/therapist.webp" alt="Studio Owner" width="400" height="600">
      </div>
    </div>
  </div>
</section>
